uvicorn
sentry_sdk
fastapi
sqlmodel
pyjwt
jinja2
pydantic_settings
passlib
pydantic[email]
psycopg
psycopg_binary
emails
python-multipart
bcrypt
openai
tiktoken
numpy
mysqlclient
PyPDF2
chromadb
authlib
